$text-base: #afb6c2;
$text-title: #d4ccb6;
$background: #191816;
$form-background: #24221f;
$primary-color: #ffc632;

$white: #eeeeee;
$black: #222222;

$gray: #999999;
$info: #29b6f6;
$error: #f44336;
$alert: #ffa726;
$success: #66bb6a;